
<div class = "container">
	<h1>BOARD</h1>

	<div class ="row">
		<div class = "col-md-4">
		<div class = "eboardpic">
		<img src="images/harambe.gif" class = "img-thumbnail">
		</div>
		</div>
		<div class = "col-md-8">
		<p>President</p>
		</div>
	</div>

	<div class ="row">
		<div class = "col-md-4">
<div class = "eboardpic">
		<img src="images/graves.gif" class = "img-thumbnail">
		</div></div>
		<div class = "col-md-8">
		<p>Vice President</p>
		</div>
	</div>

	<div class ="row">
		<div class = "col-md-4">
		<div class = "eboardpic">
		<img src="images/test1.gif" class = "img-thumbnail">
		</div></div>
		<div class = "col-md-8">
		<p>Treasurer</p>
		</div>
	</div>

	<div class ="row">
		<div class = "col-md-4">
		<div class = "eboardpic">
		<img src="images/test2.gif" class = "img-thumbnail">
		</div></div>
		<div class = "col-md-8">
		<p>Secretary</p>
		</div>
	</div>

	<div class ="row">
		<div class = "col-md-4">
		<div class = "eboardpic"><
		<img src="images/cc.gif" class = "img-thumbnail">
		</div></div>
		<div class = "col-md-8">
		<p>Fundraising Chair</p>
		</div>
	</div>

	<div class ="row">
		<div class = "col-md-4">
			<div class = "eboardpic">
		<img src="images/test4.gif" class = "img-thumbnail">
		</div></div>
		<div class = "col-md-8">
		<p>PAC Rep</p>
		</div>
	</div>

</div>